apiVersion: v1
kind: Config
clusters:
  - name: playbox
    cluster:
      server: https://{{ domains.k8s_api }}
contexts:
  - name: playbox-oidc
    context:
      cluster: playbox
      user: oidc-user
current-context: playbox-oidc
users:
  - name: oidc-user
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: kubectl
        args:
          - "oidc-login"
          - "get-token"
          - "--oidc-issuer-url=https://{{ domains.auth }}/realms/{{ keycloak.realm }}"
          - "--oidc-client-id={{ keycloak.client_id }}"
          - "--oidc-client-secret=${CLIENT_SECRET}"
          - "--oidc-extra-scope=email,groups"
          - "--grant-type=authcode"
